/* * {
	width: 100%;
} */

.green-container {
	background-color: lightgreen;
	border: green solid 3px;
	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;

}

.blue-container {
  background-color: lightblue;
  border: blue solid 3px;
  color: white;
  padding: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.orange-container {
  background-color: lightsalmon;
  border: orange solid 3px;
  color: white;
  padding: 16px;
  flex: 1;
}

.invisible-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: normal;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0.5rem;

  height: 10rem;

}

.red-container {
  background-color: lightcoral;
  border: red solid 3px;
  color: white;
  flex-grow: 1;
}	

.column-1 {
	height: 8rem;
}
.column-2 {
	height: 2rem;
}
.column-3 {
	height: 3rem;
}

